LAB4/zad2.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT wyniki (przedmiot*) >
<!ELEMENT przedmiot (nazwa, egzaminator, rodzaj, ocena) >
<!ELEMENT egzaminator (tytul, imie, nazwisko) >
<!ELEMENT nazwa (#PCDATA) >
<!ELEMENT rodzaj (#PCDATA) >
<!ELEMENT ocena (#PCDATA) >
<!ELEMENT tytul (#PCDATA) >
<!ELEMENT imie (#PCDATA) >
<!ELEMENT nazwisko (#PCDATA) >


