LAB5/zad3.xsd

<?xml version='1.0' encoding='UTF-8'?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="glowny">
        <xsd:complexType>
		        <xsd:sequence>
					<xsd:element name="element1" type="xsd:string" minOccurs="0" maxOccurs="2"/>
					<xsd:element name="element2" type="xsd:string" minOccurs="0" maxOccurs="2"/>
					<xsd:element name="element3" type="xsd:string" minOccurs="0" maxOccurs="2"/>
			    </xsd:sequence>
        </xsd:complexType>
	</xsd:element>
</xsd:schema>