LAB3/zad5.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT firma (nazwa?, dzial*)> 

<!ELEMENT nazwa (#PCDATA)>

<!ELEMENT dzial (pracownik+)>

<!ELEMENT pracownik (imie, nazwisko, data_urodzenia)>
<!ATTLIST pracownik plec (bd|m|k) "bd">
<!ATTLIST pracownik numer_pesel CDATA #REQUIRED>
<!ATTLIST pracownik opis CDATA #IMPLIED>

<!ELEMENT imie (#PCDATA)>
<!ELEMENT nazwisko (#PCDATA)>
<!ELEMENT data_urodzenia (#PCDATA)>